@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: hsl(217, 54%, 11%);
}


.card{
    background-color: hsl(216, 50%, 16%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 27em;
    height: 45em;
    border-radius: 25px;
}


.nft-image-class{
    background: url('../images/image-equilibrium.jpg') no-repeat;
    background-size: 100% 100%;
    /* background-position: 12% 83%; */
    width: 20em;
    height: 20em;
    border-radius: 25px;
    margin: 40px auto;
}

.nft-image-class:hover:after{
    content: "";
    width: 319px;
    height: 320px;
    position: absolute;
    margin: 0 auto;
    opacity: 0.5;
    transform: translateX(-47px);
    border-radius: 25px;
    background-color: hsl(178, 100%, 50%);
    z-index: 0;
    
}

.nft-image-class:hover:before{
    content: url('../images/icon-view.svg');
    position: relative;
    top: 44%;
    left: 43%;
    z-index: 2;
}

.nft-image-class:hover{
    cursor: pointer;
}

.nft-image-class:hover .nft-image-class::after{
    visibility: visible;
    cursor: pointer;
}


.container{
    padding: 0 10%;
}

header h1{
    color: #fff;
    font-weight: 600;
}

header h1:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.desc p{
    margin: 1.5em 0;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 18px;
}



.indicator{
    display: flex;
    justify-content: space-between;
}

/* .icon-ethereum{
    margin-right: 10px;
    vertical-align: middle;
    width: 13px;
} */

.ethereum h2{
    font-size: 18px;
    color: hsl(178, 100%, 50%);
}

h2::before{
    content: url('../images/icon-ethereum.svg') " ";
}

/* .icon-clock{
    margin-right: 10px;
    vertical-align: middle;
} */

.day h3{
    font-size: 18px;
    color: hsl(215, 51%, 70%);
}

h3::before{
    content: url('../images/icon-clock.svg') " ";
}

hr{
    height:1px;
    border-width:0;
    color:gray;
    background-color:gray;
    margin: 30px 0 30px 0;
}

.creation-by .image-avatar{
    width: 40px;
    vertical-align: middle;
    margin-right: 20px;
    border: 2px solid #fff;
    border-radius: 50px;
}

.creation-by h4{
    font-size: 18px;
    color: #fff;
    font-weight: 300;
}

.creation-by h4 span{
    font-weight: 600;
}

.creation-by h4 span:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.attribution{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    color: #fff;
    font-size: 13px;
}
